main {
  padding: 1.5rem;
}

.titleForm{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.titleForm h1{
  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.titleForm p{
  color: var(--text-secondary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

main header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

main header span {
  color: var(--text-secondary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

form fieldset{
  border: 0;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

form legend{
  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 1.5rem;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-wrapper label{
  color: var(--text-secondary);
  font-feature-settings: 'liga' off;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.input-wrapper input{
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 2px solid var(--stroke-default);
  background: var(--surface-primary);

  color: var(--text-primary);
  font-feature-settings: 'liga' off;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.input-wrapper select{
  padding: 0.75rem 1rem;
  border-radius: var(--spacing-spacing-2, 0.5rem);
  border: 2px solid transparent;
  outline: 2px solid var(--stroke-default);
  background: var(--surface-primary);
  width: 100%;
  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-wrapper{
  position: relative;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url(../assets/icons/arrow-down.svg) no-repeat;
  background-size: contain; 
}

.input-wrapper textarea{
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--stroke-default);

  resize: vertical;
  max-height: 8rem;

  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.input-wrapper .dropzone{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--stroke-default);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

.input-wrapper .dropzone input{
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.input-wrapper .dropzone span{
  color: #A8A29E;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 0.5rem;
}
 

.input-wrapper input:focus,
.input-wrapper input:focus-within
.input-wrapper select:focus,
.input-wrapper select:focus-within,
.input-wrapper textarea:focus,
.input-wrapper textarea:focus-within{
  outline: 2px solid var( --surface-secondary);
  border: 2px solid var(--stroke-highlight);
}

.input-wrapper input[type="file"]{
  outline: initial;
}

.input-wrapper .dropzone:hover{
  border: 2px dashed var(--stroke-highlight);
  background-color: var(--surface-secondary);
}

.input-wrapper .dropzone:hover svg path{
  stroke: var(--brand-light);
}



@media (width >= 80em){
  main {
    padding: 4rem;
    grid-row: 1/2;

  }
}