main {
  padding: 1.5rem;
}

.titleForm{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.titleForm h1{
  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.titleForm p{
  color: var(--text-secondary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

main header{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

main header span {
  color: var(--text-secondary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

form{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

form fieldset{
  border: 0;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

form legend{
  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 1.5rem;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.input-wrapper p {
  color: #78716C;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.input-wrapper label{
  color: var(--text-secondary);
  font-feature-settings: 'liga' off;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.input-wrapper input{
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 2px solid var(--stroke-default);
  background: var(--surface-primary);

  color: var(--text-primary);
  font-feature-settings: 'liga' off;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  width: 100%;
}

.input-wrapper select{
  padding: 0.75rem 1rem;
  border-radius: var(--spacing-spacing-2, 0.5rem);
  border: 2px solid transparent;
  outline: 2px solid var(--stroke-default);
  background: var(--surface-primary);
  width: 100%;
  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-wrapper{
  position: relative;
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url(../assets/icons/arrow-down.svg) no-repeat;
  background-size: contain; 
}

.input-wrapper textarea{
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--stroke-default);

  resize: vertical;
  max-height: 8rem;

  color: var(--text-primary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.input-wrapper .dropzone{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--stroke-default);
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
}

.input-wrapper .dropzone input{
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.input-wrapper .dropzone span{
  color: #A8A29E;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 0.5rem;
}
 

.input-wrapper input:focus,
.input-wrapper input:focus-within
.input-wrapper select:focus,
.input-wrapper select:focus-within,
.input-wrapper textarea:focus,
.input-wrapper textarea:focus-within{
  outline: 2px solid var( --surface-secondary);
  border: 2px solid var(--stroke-highlight);
}

.input-wrapper input[type="file"]{
  outline: initial;
}

.input-wrapper .dropzone:hover{
  border: 2px dashed var(--stroke-highlight);
  background-color: var(--surface-secondary);
}

.input-wrapper .dropzone:hover svg path{
  stroke: var(--brand-light);
}

.radio-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.radio-wrapper label:nth-child(1){
  grid-column: 1/3;
  color: var(--text-secondary);
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
  margin-bottom: 1rem;
}

.radio-wrapper .radio-options{
  grid-column: 1/3;
  grid-row: 2/3;
}

.radio-options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}



.radio-option{
  position: relative;
}

.radio-option input[type="radio"]{
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;

}

.radio-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem 1rem;
  border-radius:  0.5rem;
  border: 2px solid var(--stroke-default);
  background: var(--surface-primary);
  gap: 0.5rem;
}

.radio-content span{
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.radio-check{
  position: absolute;
  margin: 0.5rem;
  width: 24px;
  aspect-ratio: 1;
  background: url(../assets/icons/circle-unchecked.svg) center / cover;
}

.turno:has(:checked) .radio-content, 
.sport:has(:checked) .radio-content{
  border: 2px solid var(--stroke-highlight);
  background: var(--surface-primary);
}

.turno:hover .radio-check,
.sport:hover .radio-check{
  background: url(../assets/icons/circle-hover.svg  ) center / cover;
}

.turno:has(:checked) .radio-check,
.sport:has(:checked) .radio-check{
  background: url(../assets/icons/circle-checked.svg) center / cover;
}

.turno:hover .radio-content,
.sport:hover .radio-content{
  border: 2px solid var(--stroke-highlight);
}

.checkbox-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
}

.checkbox-input{
  position: relative;
  
}

.checkbox{
  background: url(../assets/icons/checkbox-default.svg) center / cover;
  width: 24px;
  aspect-ratio: 1;
}

.checkbox-input input[type="checkbox"]{
  position: absolute;
  inset: 0;
  opacity: 0;
}

.checkboxInput{
  height: 24px;
  cursor: pointer;
}

.checkbox-input:has(:checked) .checkbox{
  background: url(../assets/icons/checkbox-select.svg) center / cover;
}

.checkbox-input:not(:has(:checked)):hover .checkbox{
  background: url(../assets/icons/checkbox-hover.svg) center / cover;
}

.checkbox-wrapper label{
  color: var(--text-secondary);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.checkbox-wrapper .highlight{
  color: var(--text-highlight);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.btn-wrapper{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-wrapper button:nth-child(1){
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  outline: transparent;
  border: 2px solid var(--text-highlight);
  background: var(--surface-primary);
  
  color: var(--text-highlight);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 

  cursor: pointer;
}

.btn-wrapper button:nth-child(1):hover{
  outline: 2px solid var(--brand-light);
}

.btn-wrapper button:nth-child(2){
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background: var(--brand-dark);
  border: none;
  
  color: var(--surface-primary);
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 

  cursor: pointer;
}

.btn-wrapper button:nth-child(2):hover{
  background: var(--brand-mid);
}


@media (width >= 80em){
  main {
    padding: 4rem;
    grid-row: 1/2;
  }

  main form fieldset:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  main form fieldset:nth-child(2) legend{
    grid-column: 1/5;
  }

  main form fieldset:nth-child(2) .cep{  
    grid-column: 1/5;
    grid-row: 1/2;
  }

  main form fieldset:nth-child(2) .street{  
    grid-column: 1/4;
    grid-row: 2/3;
  }

  main form fieldset:nth-child(2) .city{  
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .radio-options:has(.sport){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }

}